.vs/
**/bin/
**/obj/Debug
**/obj/*.json
**/obj/*.cache
**/obj/*.targets
**/obj/*.props
**/obj/*.sentinel
**/obj/Release
**/results/
**/*.log
*.user
roms/real/*
*.sav
/GameboyAdvanced.Blazor
*.sav
**/publish